/MinecraftMod/CREDITS-fml.txt
/MinecraftMod/LICENSE-fml.txt
/MinecraftMod/MinecraftForge-Credits.txt
/MinecraftMod/MinecraftForge-License.txt
/MinecraftMod/README.txt
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/MinecraftMod/forge-1.7.10-10.13.4.1492-1.7.10-changelog.txt
/MinecraftMod/gradle/wrapper/gradle-wrapper.jar
/MinecraftMod/gradle/wrapper/gradle-wrapper.properties
/MinecraftMod/.classpath
/MinecraftMod/.gradle/2.0/taskArtifacts/cache.properties
/MinecraftMod/.gradle/2.0/taskArtifacts/cache.properties.lock
/MinecraftMod/.gradle/2.0/taskArtifacts/fileHashes.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/fileSnapshots.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/outputFileStates.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/taskArtifacts.bin
/MinecraftMod/.gradle/gradle.log
/MinecraftMod/.project
/MinecraftMod/.settings/org.eclipse.jdt.core.prefs
/MinecraftMod/bin/assets/pinkbox/lang/en_US.lang
/MinecraftMod/bin/assets/pinkbox/textures/GUI/Heart.png
/MinecraftMod/bin/assets/pinkbox/textures/GUI/questbox.png
/MinecraftMod/bin/assets/pinkbox/textures/items/bike.png
/MinecraftMod/bin/com/example/examplemod/ExampleMod.class
/MinecraftMod/bin/mcmod.info
/MinecraftMod/bin/org/ngs/bigx/dictionary/protocol/specification$command.class
/MinecraftMod/bin/org/ngs/bigx/dictionary/protocol/specification$dataType.class
/MinecraftMod/bin/org/ngs/bigx/dictionary/protocol/specification$devices$products.class
/MinecraftMod/bin/org/ngs/bigx/dictionary/protocol/specification$devices.class
/MinecraftMod/bin/org/ngs/bigx/dictionary/protocol/specification.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/BiGXPacketHandler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/BikeWorldData.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/CommonEventHandler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/CommonProxy.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/Context$Resistance.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/Context.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/Main.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/WorldGen.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/ClientEventHandler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/ClientProxy$1.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/ClientProxy.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/GuiConnection.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/GuiMenu.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/GuiQuest.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/client/GuiStats.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/gradlew
/MinecraftMod/bin/org/ngs/bigx/minecraft/gradlew.bat
/MinecraftMod/bin/org/ngs/bigx/minecraft/item/ItemBike.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/item/ModItems.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/networking/ReceiveQuestMessage$Handler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/networking/ReceiveQuestMessage.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/networking/UpdateHungerMessage$Handler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/networking/UpdateHungerMessage.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/quests/Quest.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/samplecustomjavalib.jar
/MinecraftMod/bin/org/ngs/bigx/minecraft/server/ServerEventHandler.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/server/ServerProxy.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/structures/Structure.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/structures/StructureGarden.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/structures/StructureTower$Point.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/structures/StructureTower.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/structures/WorldStructure.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/themes/Theme$BlockMeta.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/themes/Theme.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/themes/ThemeDesert.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/themes/ThemeIce.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/themes/ThemeNorman.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/structures/Structure.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/structures/StructureGarden.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/structures/StructureTower$Point.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/structures/StructureTower.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/structures/WorldStructure.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/themes/Theme$BlockMeta.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/themes/Theme.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/themes/ThemeDesert.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/themes/ThemeIce.class
/MinecraftMod/bin/org/ngs/bigx/minecraft/worldgen/themes/ThemeNorman.class
/MinecraftMod/eclipse/.metadata/.lock
/MinecraftMod/eclipse/.metadata/.mylyn/.taskListIndex/segments.gen
/MinecraftMod/eclipse/.metadata/.mylyn/.taskListIndex/segments_1
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5b/201097510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/5b/70f192510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6/d0db93510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/61/b0fe95510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/6d/d06a91510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/97/30c694510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/d6/70d397510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/f/f00b99510a4600151031ccf3d4f25751
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.markers.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.syncinfo.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.snap
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/.org.eclipse.jdt.core.external.folders/.project
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1075199038.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/117359570.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1259166802.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1342926502.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1431365861.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1466276847.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1475342264.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/149088876.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/149928021.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1502799141.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1561589312.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1571712741.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1606283575.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1631894050.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/169909434.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1700002222.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1738560761.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1825659293.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1837803553.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1878279034.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1914327719.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1934139833.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/1974123344.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2094789591.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2144223205.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2284372656.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2326175388.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2381260399.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2407557228.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2541245157.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/260295031.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2619257045.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2629458032.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2795419945.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/286606776.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2879305157.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/2938872725.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3051793869.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3207372140.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3218011280.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3274768628.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3296867124.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/33073716.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3319859078.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3352272891.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3579399264.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3627269305.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3671390204.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3699641884.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3700886420.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3702654947.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3709579562.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3715519982.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/374721949.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3769589559.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3802522138.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/3872267451.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4065578579.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4080444781.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/410651664.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4126800959.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4142789474.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4257325822.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/4275448310.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/444555976.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/522689238.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/559390872.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/581451351.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/58500687.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/726190884.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/735955530.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/75536346.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/756973510.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/776890256.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/800653958.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/839097845.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/899699377.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/966533573.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/970626710.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Minecraft/2015/8/34/refactorings.history
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Minecraft/2015/8/34/refactorings.index
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/MinecraftMod/eclipse/.metadata/version.ini
/MinecraftMod/eclipse/config/forge.cfg
/MinecraftMod/eclipse/config/forgeChunkLoading.cfg
/MinecraftMod/eclipse/logs/fml-client-latest.log
/MinecraftMod/eclipse/logs/fml-junk-earlystartup.log
/MinecraftMod/eclipse/logs/latest.log

/MinecraftMod/eclipse/.metadata/.mylyn/repositories.xml.zip
/MinecraftMod/eclipse/.metadata/.mylyn/tasks.xml.zip
/MinecraftMod/eclipse/saves/Generated World-20160510-144720.zip
/MinecraftMod/eclipse/saves/Generated World-20160524-173102.zip
/MinecraftMod/eclipse/saves/Generated World-20160524-180823.zip
/MinecraftMod/eclipse/saves/New World--20160531-144111.zip
