/MinecraftMod/CREDITS-fml.txt
/MinecraftMod/LICENSE-fml.txt
/MinecraftMod/MinecraftForge-Credits.txt
/MinecraftMod/MinecraftForge-License.txt
/MinecraftMod/README.txt
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
/MinecraftMod/eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/MinecraftMod/forge-1.7.10-10.13.4.1492-1.7.10-changelog.txt
/MinecraftMod/gradle/wrapper/gradle-wrapper.jar
/MinecraftMod/gradle/wrapper/gradle-wrapper.properties
