/MCiX Random/*
/MinecraftMod/CREDITS-fml.txt
/MinecraftMod/LICENSE-fml.txt
/MinecraftMod/MinecraftForge-Credits.txt
/MinecraftMod/MinecraftForge-License.txt
/MinecraftMod/README.txt
/MinecraftMod/forge-1.7.10-10.13.4.1492-1.7.10-changelog.txt
/MinecraftMod/gradle/wrapper/gradle-wrapper.jar
/MinecraftMod/gradle/wrapper/gradle-wrapper.properties
/MinecraftMod/.classpath
/MinecraftMod/.gradle/2.0/taskArtifacts/cache.properties
/MinecraftMod/.gradle/2.0/taskArtifacts/cache.properties.lock
/MinecraftMod/.gradle/2.0/taskArtifacts/fileHashes.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/fileSnapshots.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/outputFileStates.bin
/MinecraftMod/.gradle/2.0/taskArtifacts/taskArtifacts.bin
/MinecraftMod/.gradle/gradle.log
/MinecraftMod/.project
/MinecraftMod/.settings/org.eclipse.jdt.core.prefs
/MinecraftMod/bin/assets/pinkbox/lang/en_US.lang
/MinecraftMod/bin/assets/pinkbox/textures/GUI/Heart.png
/MinecraftMod/bin/assets/pinkbox/textures/GUI/questbox.png
/MinecraftMod/bin/assets/pinkbox/textures/items/bike.png
/MinecraftMod/bin/com/example/examplemod/ExampleMod.class
/MinecraftMod/bin/mcmod.info
/MinecraftMod/bin/*
/MinecraftMod/.metadata/*
/MinecraftMod/eclipse/saves/*
/MinecraftMod/eclipse/logs/*
/MinecraftMod/eclipse/.metadata/*
/MinecraftMod/eclipse/.recommenders/*
/MinecraftMod/eclipse/customnpcs/assets/customnpcs/textures/cache/*
/MinecraftMod/eclipse/screenshots/*
/MinecraftMod/eclipse/asm/*
/MinecraftMod/eclipse/ForgeEssentials/*
/MinecraftMod/eclipse/config/forge.cfg
/MinecraftMod/eclipse/config/forgeChunkLoading.cfg
/MinecraftMod/eclipse/logs/fml-client-latest.log
/MinecraftMod/eclipse/logs/fml-junk-earlystartup.log
/MinecraftMod/eclipse/logs/latest.log
/MinecraftMod/eclipse/saves/Generated World-20160510-144720.zip
/MinecraftMod/eclipse/saves/Generated World-20160524-173102.zip
/MinecraftMod/eclipse/saves/Generated World-20160524-180823.zip
/MinecraftMod/eclipse/saves/New World--20160531-144111.zip
/MinecraftMod/src/main/java/com/example/examplemod/ExampleMod.java
/MinecraftMod/eclipse/crash-reports/*