#Seriously guys, stop commiting this to your git repo!
org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/*
org.eclipse.core.resources/.projects/Minecraft/org.eclipse.jdt.core/*
org.eclipse.core.resources/.root/.indexes/*
org.eclipse.core.resources/.root/1.tree
org.eclipse.core.resources/.safetable/*
org.eclipse.core.runtime/.settings/*
org.eclipse.e4.workbench/*
org.eclipse.epp.logging.aeri.ui/*
org.eclipse.jdt.core/*
org.eclipse.jdt.launching/*
org.eclipse.jdt.ui/*
org.eclipse.m2e.logback.configuration/*
org.eclipse.oomph.setup/*
org.eclipse.ui.workbench/*
