MinecraftMod/CREDITS-fml.txt
MinecraftMod/LICENSE-fml.txt
MinecraftMod/MinecraftForge-Credits.txt
MinecraftMod/MinecraftForge-License.txt
MinecraftMod/README.txt
MinecraftMod/eclipse/
MinecraftMod/forge-1.7.10-10.13.4.1492-1.7.10-changelog.txt
MinecraftMod/gradle/